html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    padding-top: 60px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.panel.comment-published {
    border-color: #48CFAD;
}
.panel.comment-deleted {
    border-color: #BF263C;
}
.panel.comment-hidden {
    border-color: #434A54;
}

.panel .comment-heading a {
    color: #323133;
}
.panel .comment-heading a:focus {
    outline: none;
}
