{% load staticfiles %}
{% include 'blog/includes/head.html' %}
{% include 'blog/includes/nav.html' %}
<div class="container">

    {% if user %}
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                            <a href="{% url 'blog:profile' %}">Profile</a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'blog:new' %}">New Post</a>
                        </li>
                        <li role="presentation">
                            <a href="#">Mod Comments</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h1>User Profile</h1>
                </div>

                <div class="col-sm-2 col-md-2">
                    <a href="#" class="thumbnail">
                        <img
                            src="{% static "blog/img/9.jpg" %}"
                            alt="thumbnail"
                            class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <blockquote>
                        <p>{{ user.first_name }} {{ user.last_name }}</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                    </p>
                </div>


            </div>
        </div>
    {% else %}
        <div class="col-sm-8">
            <div class="row">
                <div class="alert alert-danger">An error occured.</div>
            </div>
        </div>
    {% endif %}

    {% include 'blog/includes/sidebar.html' %}
</div>

{% include 'blog/includes/foot.html' %}
